.chefs-section {
    display: block;
}

.top-chefs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    margin-top: 2em; 
}

.chefs-section-title {
    color: var(--text-color)
}

@media screen and (max-width: 768px) {
    .top-chefs-container {
        grid-template-columns: repeat(1, 1fr);

    }

    
    
}