.section.quote {
    display:block;

}

.section.quote .quote-text {
    font-size: 1.2em;
    line-height: 2em;
    color: var(--text-color);
    text-align: center;
}

.section.quote .quote-text svg {
    color: rgb(255, 139, 158);
    font-size: 1.5em;
    margin-right: 0.5em;
}

.section.quote .quote-author {
    color: var(--text-color);
    text-align: center;
    margin-top: 1em;
}