.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2em;
    
}
.login-input label {
    font-size: 1.1em;
    padding: 0.5em;
    color: var(--text-color);
}
.login-input input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 0 5px 10px var(--shadow-color);
    font-size: 1em;
    background-color: var(--background-color);
}

.login-input input:hover {
    box-shadow: 0 1px 3px gray;
}
.login-btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px gray;
    margin-top: 2em;
    align-self: center;
}

.login-btn:hover {
    box-shadow: 0 1px 3px gray;
}

.errorMessage {
    font-size: 0.7em;
    padding: 0.7em;
    color: red;
    display: none;
}
input:invalid[focused="true"] {
    border: 2px solid red;
    border-radius: 5px;
}

input:invalid[focused="true"] ~ span {
    display: block;
    
}