:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: pink;
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}
