* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: pink;
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

a {
    text-decoration: none;
}

.main {
    padding-block: 3vw;
    font-family: 'Roboto', sans-serif;
  }
  
.container {
    padding-inline: 12vw;
    font-family: 'Roboto', sans-serif;
}

